@page "/ProductList"
@inject HttpClient http;
@inject ProductService productService;
@using Blazor7App.Shared
@using Microsoft.AspNetCore.Authorization;
@attribute [AllowAnonymous]

<h3>Product List</h3>

<section>
	@if(Products != null)
    {
        <div class="row">
            @foreach (var product in Products)
            {
                <div class="col-lg-4 mx-auto">
                    <ProductCard product="product"></ProductCard>
                </div>  
            }
        </div>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</section>
@code 
{

    private List<Product> Products = new List<Product>();

    [AllowAnonymous]
    protected override async Task OnInitializedAsync()
    {
        await productService.GetProducts();
        Products = productService.Products;
    }
}
